extends layout

block content
	.menu
		h2 Menu
		ul.nav.nav-pills
			li
				a(href='/task') Lista de tareas
			li
				a(href='/completed') Completadas
	.home
		form(action='/task', method='POST')
			label Ingresa una nueva tarea:
			br
			input(type='text', name='name', palceholder='Nueva tarea')
			button Enviar
