extends layout
		

block content
	if tasks.length
		ul
			each task in tasks
				li= task.name
					form(action='/task/#{task._id}', method='POST')
						a(type="button" class="btn btn-danger btn-xs task-delete", data-task-id-delete="#{task._id}") Eliminar
						input(type='hidden', value='true', name='completed')
						a(type='button', class='btn btn-success btn-xs task-complete', value='done', data-task-id-done="#{task._id}") Hecha
	else
		h2 No hay tareas que mostrar
	